
.addNew{
  height: 35px;
  width: 70px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  
}
.App-header {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.postNewEvent{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  padding: 20px;
  height: 35px;
  width: 100%;
  background-color: #EDB204;
}
.App-link {
  color: #61DAFB;
}
.tableCss{
  top: 0;
}

.edit-buttons{
  height: 30px;
  width: 75px;
  color: white;
  font-size: medium;

}

#redButtons{
  background-color: #D9534F;
  }

#blueButtons{
  background-color: #337AB7;
}

.post-buttons{
  height: 35px;
  width: 125px;
  background-color: #337AB7;
  border-radius: 15px;
}

